@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

body {
  display: flex;
  background-color:hsl(217, 61%, 90%);
  font-family:noto sans;
  flex-direction: column;
  align-items: center;
 

}
